.container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 10px 12px;
    box-sizing: border-box;
    scrollbar-width: thin; 
    scrollbar-color: #888 #f0f0f0; 
    gap: 10px;
  }
  
  .container::-webkit-scrollbar {
    height: 6px;
  }
  
  .container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  
  .container::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
  