.scrollWrapper {
    width: 100%;
    overflow-x: auto;
  }
  
  .container {
    display: grid;
    grid-template-columns: minmax(200px, 3fr) minmax(300px, 4fr) minmax(150px, 2fr);
    min-width: 650px;
  }
  
  .header {
    border-bottom: 1px solid #8A8A8A;
    color: #8A8A8A;
    padding: 5px 5px;
    margin-bottom: 5px;
  }
  
  .selectedHeader {
    background-color: #212121;
  }
  
  .cell {
    width: 90%;
    padding: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .cell a:hover {
    text-decoration: underline;
  }
  
  .status {
    text-align: center;
  }
  
  .tag {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    margin-left: 5px;
    padding: 4px 12px;
  }
  
  @media (max-width: 768px) {
    .container {
      grid-template-columns: minmax(200px, 4fr) minmax(300px, 5fr) minmax(150px, 2fr);
    }
  }
  