.button {
  font-family: 'Inter', sans-serif;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.small {
  min-width: 150px;
  padding: 12px 16px;
  font-size: 14px;
}

.big {
  min-width: 225px;
  padding: 16px 28px;
  font-size: 18px;
}

.normal {
  background-color: #90FFD2;
  border-color: #90FFD2 !important;
  color: black;
}

.pale {
  background-color: #ffffff;
  border-color: #ffffff !important;
  color: #333;
}

.ghost {
  background-color: transparent;
  border: 2px solid;
  color: white;
  transition: background-color 0.3s ease;
}

.normal:hover {
  background-color: #80e7c2;
}

.pale:hover {
  background-color: gainsboro;
}

.ghost:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
