.codeBoxContainer {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  background-color: #2d2d2d;
}

.codeContainer {
  margin: 10px 0;
  overflow-x: auto;
  transition: filter 0.3s ease, opacity 0.3s ease;
}

.codeVisible {
  filter: none;
  opacity: 1;
}